/* todas las paginas */
body {
    background-color: #ffa07a;
}
.jumbotron {
    background-color: #A52A2A;
    color: white;
    text-align: center;
    margin-top: 30px;
}
.nav-tabs {
  padding-bottom: 40px;
}
footer {
    background-color: black;
    color: white;
    padding: 40px;
}
footer .col-sm-4 {
    border-left: 2px white solid;
}
.footer-icon {
  padding-right: 5px;
}
/* index*/
.img-principal {
  width: 100%;
  height: 400px;
}
.container {
  margin-bottom: 40px;
}

.producto {
    flex: 1 500px;
    padding: 40px;
}
.card {
  margin: 20px;
}
.card-title,
.card-subtitle {
  margin-bottom: 10px;
}
.producto img {
  width: 100%;
  margin-bottom: 10px;
}
.btn {
    width: 100%;

    border-radius: 5px;
}
.leer-icon {
  padding-right: 10px;

}
.btn-outline-success {
  margin-bottom: 10px;
}
.btn-danger {
  margin-bottom: 20px;
}

/* pagina precios */

.dollar-icon {
  padding-left: 2px;
}
