$yellow: #f4f5cb;
$red: #ff0a47;
$green: #044a04;

@mixin margenes($top, $bottom) {
  margin-top:$top;
  margin-bottom: $bottom;
}

/* todas las paginas */
body {
    background-color: $yellow;
}
.jumbotron {
    background-color: $red;
    color: white;
    text-align: center;
    @include margenes (30px, 0px)
}
.nav-tabs {
  @include margenes (30px, 40px)
}
footer {
    background-color: $green;
    color: white;
    padding: 40px;
}
footer .col-sm-4 {
    border-left: 2px white solid;
}
.footer-icon {
  padding-right: 5px;
}
/* index*/
.img-principal {
  width: 100%;
  height: 400px;
}
.container {
  @include margenes (0px, 40px)
}

.producto {
    flex: 1 500px;
    padding: 40px;
}
.card {
  margin: 20px;
}
.card-title,
.card-subtitle {
  @include margenes (0px, 10px)
}
.producto img {
  width: 100%;
  margin-bottom: 10px;
}
.btn {
    width: 100%;

    border-radius: 5px;
}
.leer-icon {
  padding-right: 10px;

}
.btn-outline-success {
  @include margenes (0px, 10px)
}
.btn-danger {
  @include margenes (0px, 20px)
}

/* pagina precios */

.dollar-icon {
  padding-left: 2px;
}
